<body style="background-color: #22262d">
   
  <div class="container has-text-light">
  <%= render 'main_nav' %>

<h2 class="title has-text-light">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label has-text-light"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "label has-text-light" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label has-text-light" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-rounded is-primary"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div> <!-- End Container -->
